* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: #000; */
}

:root {
    --bg-color: rgb(255, 255, 255);
}

/* === INPUT === */
.container {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input {
    position: relative;
    top: 50px;
}

.input input {
    position: relative;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    font-size: medium;
}

.input input:focus {
    border: 2px solid aqua;
    outline: none;
}

.input button {
    position: relative;
    padding: 20px;
    /* border: 2px ; */
    border-radius: 10px;
    cursor: pointer;
    color: aqua;
    background-color: black;
    font-size: medium;
    float: right;
    width: 20%;
}

/* === OUTPUT === */
.removeItemBtn {
    float: right;
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 1;
  }



